<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="soldesk.com.lie_project">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:name=".Main.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    <activity android:name=".Main.LoadingActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="29dd7f017b3a17254aba148f682f6c7d"/>

    <meta-data
        android:name="com.facebook.accountkit.ApplicationName"
        android:value="@string/app_name"/>

    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/FACEBOOK_APP_ID"/>

    <meta-data
        android:name="com.facebook.accountkit.ClientToken"
        android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN"/>

    <activity
        android:name="com.facebook.FacebookActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"/>

    <activity
        android:name=".Main.MainActivity"
        android:theme="@style/AppTheme"
        android:label="@string/title_activity_main"/>

    <activity android:name=".Main.Membership_check"/>

    <activity android:name=".Main.Membership"/>

    <activity android:name=".Main.Membership1"/>

        <activity android:name=".Main.LoginActivity"/>

    </application>
</manifest>